<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.abc.drawing">

    <queries>
        <package android:name="com.tencent.mm" />
        <package android:name="com.eg.android.AlipayGphone" />
        <package android:name="com.tencent.mobileqq" />
    </queries>

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${app_name_channel}"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:label,android:allowBackup"
        android:requestLegacyExternalStorage="true">
<!--        <activity android:name="com.twx.wangzhelibao.wxapi.WXEntryActivity"-->
<!--            android:configChanges="keyboardHidden|orientation|screenSize"-->
<!--            android:exported="true"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>-->
        <!-- <activity android:name=".MainActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name="com.feisukj.ad.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>